.example {
    color: #fff;
    text-align: space-between;
}

.example-item {
    display: inline-block;
    width: 33.333%;
    height: 150px;
}

.example-item-first{
    background-color: #faa116;
}
.example-item-second{
    background-color: #57c7c3;
}
.example-item-third{
    background-color: #3b97d3;
}