<app-card titulo="Primeiro Componente" cor="#3D4D63">
  <app-primeiro-component></app-primeiro-component>
</app-card>
<app-card titulo="Aprofundando conhecimento em templates" cor="#B2E7E8">
  <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="pipes" cor="#BFB9AA">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="two way data binding" cor="#F2D096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="renderizando listas" cor="#ED8975">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="componente personalizado" cor="#FFE3DC">
  <app-componente-personalizado nome="Joao" sobrenome= "da silva"></app-componente-personalizado>
</app-card>
<app-card titulo="herança de componentes" cor="#A2AD91">
  <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="serviços" cor="#3D4D63">
  <app-servicos1></app-servicos1>
</app-card>



